<%= simple_form_for(@project) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :short_description %>
    <%= f.input :things_required %>
    <%= f.input :long_description %>
    <%= f.input :budget %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
