<div class="container">
<div class="row">
  <% @projects.each do |project| %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><%= project.name %> - $<%= project.budget %></h3>
        </div>
        <div class="panel-body">
          <p><%= project.long_description %></p>
          <p>Things needed: <span style="font-weight: bold"><%= project.things_required %></span></p>
          <p style="font-weight: bold"></p>
        </div>
        <div class="panel-footer">
          <a href="" class="btn btn-primary">Bid To Supply This Event</a>
        </div>
      </div>
  <% end %>

  <%= link_to 'New Project', new_project_path %>
</div>
</div>